div.ai-comment-tones {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    align-items: center;
    /* margin-bottom: 8px; */
}

div.ai-comment-tones button {
    /* background-color: transparent; */
    /* font-weight: bold; */
    /* border: 1px solid rgb(83, 100, 113); */
    border-radius: 24px;
    padding: 4px 8px;
    /* cursor: pointer; */
    /* margin: 2px; */
}

div.ai-comment-upsell-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* margin-top: 8px;
    font-size: 12px; */
}

/* span.ai-comment-tone-number {
    color: #666;
} */

/* a.ai-comment-more-link {
    color: #0073b1;
    text-decoration: none;
} */
