div.ai-comment-tones {
    justify-content: flex-start;
    margin-bottom: 8px;
}

div.ai-comment-tones button {
    background-color: transparent;
    font-weight: bold;
    border: 1px solid rgb(83, 100, 113);
    cursor: pointer;
}

span.ai-comment-tone-number {
    color: rgb(228, 230, 235);
}

a.ai-comment-more-link {
    font-size: small;
    font-weight: bold;
    color: rgb(90, 167, 255);
}

div.x78zum5 span.x4k7w5x.x1h91t0o.x1h9r5lt.x1jfb8zj.xv2umb2.x1beo9mf.xaigb6o.x12ejxvf.x3igimt.xarpa2k.xedcshv.x1lytzrv.x1t2pt76.x7ja8zs.x1qrby5j div.ai-comment-tones,
div.x78zum5 span.x4k7w5x.x1h91t0o.x1h9r5lt.x1jfb8zj.xv2umb2.x1beo9mf.xaigb6o.x12ejxvf.x3igimt.xarpa2k.xedcshv.x1lytzrv.x1t2pt76.x7ja8zs.x1qrby5j div.ai-comment-upsell-box {
    display: none !important;
}
